@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s;
    width: 320px;
    height: 480px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
   
    font-weight: 700;
    
    font-size: 24px;
    text-align: center;
    padding: 10px;
   
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

 .attribution{
    margin-top: 20px;
 }
 @media (max-width: 480px) {
    .container {
        width: 80%; /* Ajustar el ancho de la tarjeta en dispositivos móviles */
        height: auto; /* Permitir que la altura se ajuste automáticamente */
        padding: 20px; /* Añadir un poco de padding para mejor apariencia */
    }

    h1 {
        font-size: 20px; /* Ajustar el tamaño de la fuente del título en dispositivos móviles */
    }

    p {
        font-size: 16px; /* Ajustar el tamaño de la fuente del texto en dispositivos móviles */
    }
}